/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); 
/*Paleta de cores: */
:root{
    --azulClaro: #20ABC7;
    --azulMid: #1B8AB3;
    --azulDark: #25708b;
    --Cinza: #2d2d2d;
    --branco: #dcded7;
}
/*Inicio, estilo*/
body{
    font-family: 'Rubik'!important;
    background-color: var(--Cinza)!important;
    color: var(--branco)!important;
    margin-left: 0px;
}

/*Menu da esquerda*/
.menu-l{
    font-size: 25px;
    margin-left: 0px;
    width: 25rem;
    height: 100vh;
}   
.menu-l .col .row{
    padding: 15px;
    padding-top: 20px;
}
.menu-l .col .row a{
    font-size: 20px;
    text-align: left;
    padding-top: 1.5rem;
}
/*Tabela Direita*/

